body{
    justify-content: center;
    background-color: #e2ebb3;
    align-items: center;
}

.clock{
    position: absolute;
    color: #8B0000;
    transform: translateX(-50%),translateY(-50%);
    font-size: 100px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 7px;
    border: 5px dotted #191970;
    display: flex;
    align-items: center;
    padding: 50px 50px 50px 50px;
    margin: auto;
  }