body{
    padding: 50px 50px 50px 50px;
    background-color: darkblue;
}

.container{
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #9c9c9c;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0);

}
.num_btn{
    width:50px;
    height: 50px;
    background-color: blue;
    color: white;
}
.fun_btn{
    width:50px;
    height: 50px;
    background-color: orangered;
    color: white;
}


button{
    border:none;
    border-radius: 50px;
    margin: 5px;
}

#res{
    border: gray 2px solid;
    width: 250px;
    margin-bottom: 10px;
}